@media screen and (max-width: 1200px) {
	.container {
    margin: 0 auto;
	width: 1170px;
	}
}
@media screen and (max-width:1199px){
    .container{
    margin: 0 auto;
	width: 991px;
    } 
    
}
@media screen and (max-width: 991px) {
	.container {
    margin: 0 auto;
	width: 768px;
	}
}
@media screen and (max-width: 767px) {
	.container {
    margin: 0 auto;
	width: 568px;
	}
}
@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
    
}